@import "./RepoItem/repo-item";

@keyframes repo-fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.repo-list {
  margin: 0;
  list-style: none;
  padding: 5px 10px;
  .repo-item {
    margin-bottom: 10px;
  }
  @for $i from 1 through 20 {
    .repo-item:nth-child(#{$i}) {
      animation: repo-fade-in .4s $i * .2s both ease-in-out;
    }
  }
  
}