
.repo-page {
  position: relative;
  height: 100vh;
  .repo {
    position: absolute;
    top: 30%;
    left: 50%;
    height: 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      a {
        margin-right: 10px;
      }
    }
  }
}
