.repo-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .repo {
    height: 60px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .link-go-to-github {
      margin-right: 10px;
    }
  }
}