.repo-card {
    padding: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .star {
        display: flex;
        align-items: center;      
        i {
          color: #e4d60f;
          font-size: 1.8rem;
        }
      }
    }
} 