.search-box {
  display: flex;
  align-items: center;
  position: relative;
  i {
    position: absolute;
    color: black;
    cursor: default;
    transform: translateX(5px);
  }
  input {
    padding-left: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-inputs {
    display: flex;
    align-items: center;
  }
}